
<html>
  <head>
    <script src="assets/flickity.pkgd.min.js"></script>
    <script src="assets/html5.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/flickity.css">
  </head>
  <body>



    <div class="banner_top">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="navbar-left"><a href="http://www.umass.com"><img id="umass_text" src="assets/images/umass_white.png"></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><button type="submit" class="btn-search"><img id="personalBannerSearchLogo" src="assets/images/search.png"></button></li>
            <li class="navbar-right"><input type="text" class="form-control" placeholder="Search..."></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="banner_text">
     <nav class="navbar navbar-default" role="navigation">
       <ul class="navbar navbar-nav navbar-left" role="navigation">
        <li><span><a href="/" style="text-decoration:none;color:#881c1c;"><b> Off Campus Student Services </b></a></span></li>
        </ul>
       </nav>
    </div>
     

 
    <div class="navigation">
      <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="divider-vertical"></li>
           
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Off Campus Student Center">The Center</a>
                    <ul class="dropdown-menu">
                      <li>{{link-to "The Staff" "the-center.the-staff"}}</li>
                      <li>{{link-to "Printing" "the-center.printing"}}</li>
                      <li>{{link-to "Lockers" "the-center.lockers"}}</li>
                      <li>{{link-to "See What's Happening at the Center" "the-center.whats-happening"}}</li>
                      <li>{{link-to "Employment" "footer.ocss-student-jobs"}}</li>
                  </ul>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="FAQs">FAQ's</a>
                    <ul class="dropdown-menu">
                      <li>{{link-to "Student/Tenant" "faq.student-tenant"}}</li>
                      <li>{{link-to "Landlords" "faq.landlord"}}</li>
                      <li>{{link-to "International Students" "faq.international-students"}}</li>
                      <li>{{link-to "Website Help" "faq.website-help"}}</li>
                    </ul>
              </li>            

            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Find out about living off campus">Move in/out</a>
                  <ul class="dropdown-menu multi-column columns-2">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                          <li>{{link-to "Moving In" "move-in-out.moving-in"}}</li>
                          <li>{{link-to "Housemate Agreement" "move-in-out.housemate-agreement"}}</li>
                          <li>{{link-to "Renters Insurance" "move-in-out.renters-insurance"}}</li>
                          <li>{{link-to "Security Deposit" "move-in-out.security-deposit"}}</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                          <li>{{link-to "Turning on Utilities" "move-in-out.turning-on-utils"}}</li>
                          <li>{{link-to "What to Pack" "move-in-out.what-to-pack"}}</li>
                          <li>{{link-to "Comcast Cable in Amherst" "move-in-out.comcast-amherst"}}</li>
                          <li>{{link-to "Storage Companies" "move-in-out.storage-companies"}}</li>
                        </ul>
                      </div>
                    </div>
                  </ul>
              </li>



                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Find out about living off campus">Living Off Campus</a>
                  <ul class="dropdown-menu multi-column columns-2">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                          <li>{{link-to "Town Bylaws and Student Conduct" "living-off-campus.town-bylaws"}}</li>
                          <li>{{link-to "Emergency Preparedness" "living-off-campus.emergency-prep"}}</li>
                          <li>{{link-to "Fire Safety" "living-off-campus.fire-safety"}}</li>
                          <li>{{link-to "Personal Safety" "living-off-campus.personal-safety"}}</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                          <li>{{link-to "Insurance" "living-off-campus.insurance"}}</li>
                          <li>{{link-to "Winter Readiness" "living-off-campus.winter-readiness"}}</li>
                          <li>{{link-to "Go Green and Save" "living-off-campus.go-green"}}</li>
                          <li>{{link-to "Preparing for Breaks" "living-off-campus.prep-for-breaks"}}</li>
                        </ul>
                      </div>
                    </div>
                  </ul>
              </li>

              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="FAQs">FAQ's</a>
                    <ul class="dropdown-menu">
                      <li>{{link-to "Student/Tenant" "faq.student-tenant"}}</li>
                      <li>{{link-to "Landlord" "faq.landlord"}}</li>
                      <li>{{link-to "International Students" "faq.international-students"}}</li>
                      <li>{{link-to "Website Help" "faq.website-help"}}</li>
                    </ul>
              </li>

            
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Important Resources">Resources</a>
                <ul class="dropdown-menu">
                  <li>{{link-to "Moving" "resources.moving"}}</li>
                  <li>{{link-to "Money" "resources.money"}}</li>
                  <li>{{link-to "Safety" "resources.safety"}}</li>
                  <li>{{link-to "More" "resources.more"}}</li>
                </ul>
          </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Rental listings">Rentals</a>
                <ul class="dropdown-menu">
                  <li>{{link-to "Search Posted Listings" "rentals.search-rentals"}}</li>
                  <li>{{link-to "Submit New Rental" "rentals.submit-rental"}}</li>
                  <li>{{link-to "Edit Rental Listing(s)" "rentals.edit-rental"}}</li>
                  <li>{{link-to "Apartment Complexes" "rentals.aptcomplexes"}}</li>
                  <li>{{link-to "Family Housing" "rentals.family-housing"}}</li>
                </ul>
          </li>


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Housemates/Tenants">Housemates/Tenants</a>
                  <ul class="dropdown-menu multi-column columns-2">
                    <div class="row">
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                        <li>{{link-to "Search Profiles" "housemates.search-profiles"}}</li>
                        <li>{{link-to "Submit a Profile" "housemates.submit-profile"}}</li>
                        <li>{{link-to "Edit Profile" "housemates.edit-profile"}}</li>
                        </ul>
                      </div>
                      <div class="col-sm-6">
                        <ul class="multi-column-dropdown">
                          <li>{{link-to "Housemate Agreement" "move-in-out.housemate-agreement"}}</li>
                          <li>{{link-to "Establishing Household Rules" "housemates.household-rules"}}</li>
                          <li>{{link-to "Talking about Money" "housemates.talking-about-money"}}</li>
                          <li>{{link-to "Resolving Conflicts" "housemates.resolving-conflicts"}}</li>
                          <li>{{link-to "Getting to Know Them" "housemates.getting-to-know"}}</li>
                          <li>{{link-to "Communicating" "housemates.communicating"}}</li>
                          <li>{{link-to "Living with Housemates" "housemates.living-with-housemates"}}</li>
                          <li>{{link-to "Managing Money" "housemates.managing-money"}}</li>
                        </ul>
                      </div>
                    </div>
                  </ul>
              </li>




            <li class="last" title="Contact Us">{{link-to "Contact Us" "main-pages.contact"}}</li>
            </ul>            

            <ul class="nav navbar-nav navbar-right">
              {{#if isLoggedIn}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Important Resources">Welcome back, {{name}}</a>
                      <ul class="dropdown-menu">
                        <li>{{link-to "My UMOCSS" "my-umocss.home"}}</li>
                        {{#if isAdmin}}
                          <li>{{link-to "OCRM" "main-pages.ocrm"}}</li>
                        {{/if}}
                        <li><a {{action 'logout'}} href="#">Logout</a></li>
                      </ul>
                  </li>
              {{else}}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Important Resources">Register or Sign In</a>
                      <ul class="dropdown-menu">
                        {{#if loginFailed}}
                            <div class="alert alert-danger">Invalid email or password.</div>
                        {{/if}}
                        <form>
                          <div class="form-group">
                            <label for="email">Email</label>
                              {{input id="primaryEmail" class="form-control" value=primaryEmail}}
                          </div>
                          <div class="form-group">
                            <label for="Password">Password</label>
                              {{input id="password" class="form-control" type="password" value=password}}
                          </div>
                          <a href="" class="btn btn-success" {{action 'login' primaryEmail password}}>Sign In</a>
                          <a href="/register" class="btn btn-danger" role="button">Register</a>                        
                        </form>
                      </ul>
                  </li>
              {{/if}}
            </ul>

      
      </div>
      </nav>
    </div>
    


      <div class="slideshow">
        <div class="gallery js-flickity" data-flickity-options='{"autoPlay": 4000, "pageDots": false}'>
          <div class="gallery-cell">
            <img src="assets/images/skycraper_example.jpeg" alt="" />
          </div>
          <div class="gallery-cell">
            <img src="assets/images/street_example.jpeg" alt="" />
          </div>
          <div class="gallery-cell">
            <img src="assets/images/shack_example.jpg"  alt="" />
          </div>
          <div class="gallery-cell">
            <img src="assets/images/interior.jpeg" alt="" />
          </div>
          <div class="gallery-cell">
            <img src="assets/images/beach_example.jpg" alt="" /></div>
        </div>
      </div>
<!--       {{#each contact in model}}
        <p>{{contact.primaryEmail}}</p>
      {{/each}} -->
      {{outlet}}

<!-- footer -->
    <div class="footer">
      <div class="footerWrapper">
        
        
      <div class="column">
        <p class="footerHeader">Help:</p>
          <ul class="footerSocialMedia">
            <li>{{link-to "Service Expectations" "footer.service-expectations"}}</li>
            <li>{{link-to "Recent Scammers" "footer.recent-scammers"}}</li>
            <li>{{link-to "Website Help" "faq.website-help"}}</li>
            <li>{{link-to "Contact Us" "main-pages.contact"}}</li>
          </ul>
       </div>

       <div class="column">
       <p class="footerHeader">More:</p>
         <ul class="footerSocialMedia">
            <li>{{link-to "OCSS Student Jobs" "footer.ocss-student-jobs"}}</li>
            <li><a href="http://www.umass.edu">UMass Amherst</a></li>
            <li><a href="http://www.housing.umass.edu">Residential Life</a></li>
            <li><a href="http://www.umass.edu/dean_students">Dean of Students</a></li>
            <li><a href="http://www.umass.edu/ccc">CCC</a></li>
            <li><a href="https://moodle.umass.edu/">Moodle</a></li>
          </ul>
       </div>


       <div class="column">
        <p class="footerHeader">Follow Us On:</p>
        <ul class="footerList">
          <li><a href="https://www.facebook.com/offcampuslifeatumassamherst"><img src="assets/images/facebook.png" style="width:40px; height:40px" alt="Facebook"></a></li>
          <li><a href="https://instagram.com/umassocsc/"><img src="assets/images/instagram.png" style="width:40px; height:40px"  alt="Instagram"></a></li>
          <li><a href="https://twitter.com/umocss"><img src="assets/images/twitter.png" style="width:40px; height:40px" alt="Twitter"></a></li>
          <li><a href="https://www.youtube.com/user/UMassOffCampus"><img src="assets/images/youtube.png" style="width:40px; height:40px" alt="YouTube"></a></li>
        </ul>
      </div>

    </div>
  </div>
  </body>
</html>

